<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-solid box-warning">
                <div class="box-header" style="height: 50px;">
                    <h5 class="encabezadosTabla">
                        LOTE INTERNO
                        <a title="Regresar" href="#/interno" class="btn btn-success btn-xs" style="float: right">
                            <i class="zmdi zmdi-arrow-left"></i> 
                        </a>
                    </h5>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-6">
                                <label class="col-sm-4" style="font-weight: bold;  color: black">
                                    Lote Interno
                                </label>   
                                <label style="color:red">17-{{loteInterno.idLoteInterno}}</label> 
                                / Experimental: Exp-{{loteInterno.idLoteExperimental}}
                            </div>
                            <div class="col-lg-6">
                                <label class="col-sm-4" style="font-weight: bold;  color: black">
                                    Marca Final Cliente
                                </label>
                                {{loteInterno.marcaFinalCliente}}
                                <button class="btn btn-warning btn-xs"
                                        style="margin-left: 10px;"
                                        title="Editar Marca Cliente"
                                        ng-click="editarMarcaCliente()">
                                    <i class="zmdi zmdi-edit"></i> Cambiar
                                </button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label class="col-sm-4" style="font-weight: bold;  color: black">
                                    Fecha Proceso
                                </label>
                                {{loteInterno.fechaProceso}}
                            </div>
                            <div class="col-lg-6">
                                <label class="col-sm-4" style="font-weight: bold;  color: black">
                                    Número de tambores 
                                </label>
                                {{loteInterno.numeroDeTambores}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label class="col-sm-4" style="font-weight: bold;  color: black">
                                    Fecha Envasado 
                                </label>
                                {{loteInterno.fechaEnvasado}}
                            </div>
                            <div class="col-lg-6">
                                <label class="col-sm-4" style="font-weight: bold;  color: black">
                                    Kilos Totales
                                </label>
                                {{loteInterno.kilosTotales}} 
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <label class="col-sm-4" style="font-weight: bold;  color: black">
                                    Marca Laboratorio
                                </label>
                                {{loteInterno.loteCliente}}
                            </div>
                            <div class="col-lg-6">
                                <label class="col-sm-4" style="font-weight: bold;  color: black">
                                    Observaciones
                                </label>
                                {{loteInterno.observaciones}}

                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-9">
                            <a style="margin-right: 10px"
                               title="Imprimir PDF"
                               class="pull-right btn btn-danger btn-sm"
                               ng-click="pdfDescarga()">
                                <i class="zmdi zmdi-font zmdi-hc-lg"></i>
                            </a>
                            <a style="margin-right: 10px"
                               title="Imprimir XLS"
                               class="pull-right btn btn-success btn-sm"
                               ng-click="xlsDescarga()">
                                <i class="zmdi zmdi-storage zmdi-hc-lg"></i> Reporte
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row">                   
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table  table-bordered" id="tablaExperimental">
                                    <thead>
                                        <tr>
                                            <th style="text-transform: none">
                                                Entrada
                                            </th>
                                            <th style="text-transform: none">Folio</th>
                                            <th style="text-transform: none; width: 35%">Proveedor</th>
                                            <th style="text-transform: none">IDSagarpa</th>
                                            <th style="text-transform: none">Localidad</th>
                                            <th style="text-transform: none">Bruto</th>
                                            <th style="text-transform: none">Tara</th>
                                            <th style="text-transform: none">Neto</th>
                                            <th>%H</th>
                                            <th>Sf</th>
                                            <th>St</th>
                                            <th>C13</th>
                                            <th>Hmf</th> 
                                            <th style="text-transform: none">Resultado Final</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="font-size: 12px;" ng-repeat="lote in filtered = (informacionCalidad| filter:filterExpr) track by $index">

                                            <td style="width: 15%">
                                                {{lote.fecha | date:'dd-MM-yyyy'}}
                                            </td>
                                            <td>
                                                <label style="color: red">
                                                    {{lote.folioTambor}}
                                                </label>
                                            </td>
                                            <td style="width: 20%">
                                                {{lote.nombre}}
                                            </td>
                                            <td style="width: 20%">
                                                {{lote.idSagarpa}}
                                            </td>
                                            <td style="width: 20%">
                                                {{lote.localidad}}
                                            </td>
                                            <td style="width: 20%">
                                                {{lote.bruto}}
                                            </td>
                                            <td style="width: 20%">
                                                {{lote.tara}}
                                            </td>
                                            <td style="width: 20%">
                                                {{lote.neto}}
                                            </td>
                                            <td style="width: 20%">
                                                {{lote.porcentaje}}
                                            </td>
                                            <td style="width: 20%">
                                                {{lote.sfDescripcion}}
                                            </td>
                                            <td style="width: 20%">
                                                {{lote.stDescripcion}}
                                            </td>
                                            <td style="width: 20%">
                                                {{lote.adulteracionDescripcion}}
                                            </td>
                                            <td style="width: 20%">
                                                {{lote.hmf}}
                                            </td> 
                                            <td style="width: 20%">
                                                {{lote.resultado}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="editarMarcaCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar la Marca Cliente</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input ng-model="marcaFinalCliente" 
                                   style="margin-top: 6px" 
                                   type="text" 
                                   class="form-control"
                                   placeholder="Escriba la nueva Marca Cliente"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" ng-click="guardarMarcaFinalCliente()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div growl>

</div>
