<section class="content">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="box box-solid box-warning">
                <div class="box-header" style="height: 50px;">
                    <h5 class="encabezadosTabla">
                        CRONOGRAMA
                    </h5>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box-header">
                                <h5>
                                    Seleccione una opción
                                </h5>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group form-inline">
                                        <div class="col-sm-6">
                                            <label style="margin-top: 5px" class="radio radio-inline m-r-20">
                                                <input type="radio" 
                                                       value="1" ng-model="opcionCrono.idOpcion">Todas las áreas
                                                <i class="input-helper"></i> 
                                            </label> 
                                        </div>
                                        <div class="col-sm-6">
                                            <label style="margin-top: 5px" class="radio radio-inline m-r-20">
                                                <input type="radio" 
                                                       value="2" ng-model="opcionCrono.idOpcion">Sólo una
                                                <i class="input-helper"></i>    
                                            </label> 
                                            <select ng-if="opcionCrono.idOpcion == 2"
                                                    chosen
                                                    ng-model="opcionCrono.areaCrono" 
                                                    class="form-control" 
                                                    ng-options="a.idArea as a.area for a in listaDeAreas"> 
                                                <option value="">Area</option>   
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div style="text-align: right">
                                <a href="#/verCronograma/{{opcionCrono.idOpcion}}">
                                    <button class="btn btn-warning btn-xs" ng-click="enviarCrono(opcionCrono.idOpcion, opcionCrono.areaCrono)">Aceptar</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
