<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box-tools col s4 visible-lg visible-md hidden-sm hidden-xs" style="float: right">
                <div class="input-group" style="width: 300px;">
                    <input type="text" ng-model="filtroBusquedaProveedores" class="form-control input-sm pull-right" placeholder="Ingrese lo que desea buscar">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-warning">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-tools col-sm-4 col-xs-4 visible-xs visible-sm hidden-md hidden-lg">
                <div class="input-group" style="width: 150px;">
                    <input type="text" ng-model="filtroBusquedaProveedores" name="table_search" class="form-control input-sm pull-right" placeholder="Buscar">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="box box-solid box-warning">
                <div class="box-header" style="height: 50px;">
                    <h5 class="encabezadosTabla">
                        ADQUISICION DE INSUMOS
                        <a href="#/nvoTecnico/0" class="btn btn-success btn-xs" style="float: right">
                            <i class="zmdi zmdi-plus"></i> Agregar
                        </a>
                    </h5>
                </div>
                <div class="box-body">
                    <div class="table-responsive no-padding">
                        <table class="table table-striped table-responsive">
                            <thead>
                                <tr style="height: 35px">
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">Area</th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">Tipo Proveedor</th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">Razón social</th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">Contacto</th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">Teléfono</th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="mt in menuTecnicos|filter: filtroBusquedaProveedores">
                                    <td>{{mt.area|uppercase}}</td>
                                    <td>{{mt.idTipoProveedor|uppercase}}</td>
                                    <td>{{mt.nombreProveedor|uppercase}}</td>
                                    <td>{{mt.nombreContacto|uppercase}}</td>
                                    <td>{{mt.telefono}}</td>
                                    <td>
                                        <a href="#/nvoTecnico/{{mt.idProveedorMantto}}" class="btn btn-warning btn-xs">
                                            <i class="zmdi zmdi-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>