<!-- Todas las zonas de la auditoría -->
<section class="content" ng-if="mostrarZonasAuditoria && !mostrarDetalleZona">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="box box-solid box-warning">
                <div class="box-header" style="height: 50px;">
                    <h5 class="encabezadosTabla">
                        AUDITORÍA
                        <span ng-if="listaZonasAuditoria.fecha"> DEL
                            {{listaZonasAuditoria.fecha | date:'dd/MM/yyyy'}}</span>
                        <span ng-if="listaZonasAuditoria.finalizado"> AL
                            {{listaZonasAuditoria.finalizado | date:'dd/MM/yyyy'}}</span>
                        <span ng-if="listaZonasAuditoria.estado"> - ESTADO:
                            {{listaZonasAuditoria.estado | uppercase}}</span>
                        <button title="Ver auditorías" class="btn btn-success btn-xs pull-right"
                            ng-click="regresarVistaZonas()">
                            <i class="zmdi zmdi-arrow-left"></i>
                        </button>
                    </h5>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <tr>
                                        <th colspan="3" style="text-align:center">Resultados de la auditoría</th>
                                    </tr>
                                    <tr>
                                        <th>Concepto</th>
                                        <th style="text-align:right">Cantidad</th>
                                        <th style="text-align:right">Neto</th>
                                    </tr>
                                    <tr>
                                        <td>Tambores escaneados</td>
                                        <td style="text-align:right"
                                            ng-bind="listaZonasAuditoria.ttEscaneados | number"></td>
                                        <td style="text-align:right"
                                            ng-bind="listaZonasAuditoria.totalEscaneado | number"></td>
                                    </tr>
                                    <tr>
                                        <td>Tambores disponibles no escaneados</td>
                                        <td style="text-align:right"
                                            ng-bind="listaZonasAuditoria.ttNoEscaneados | number">
                                        </td>
                                        <td style="text-align:right"
                                            ng-bind="listaZonasAuditoria.totalNoEscaneado | number"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#/inventarioMiel?acumulado" target="_blank">Compras de
                                                miel (Convencional y Orgánico)</a>
                                        </td>
                                        <td style="text-align:right"></td>
                                        <td style="text-align:right" ng-bind="listaZonasAuditoria.comprasMiel | number">
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center" colspan="3">Tambores
                                                <b>NO</b> disponibles (Convencional, Orgánico y Sobrantes)</th>
                                        </tr>
                                        <tr>
                                            <th style="text-align:center" colspan="">Concepto</th>
                                            <th style="text-align:right" colspan="">Cantidad</th>
                                            <th style="text-align:right" colspan="">Neto</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Lote Interno</td>
                                            <td style="text-align:right"
                                                ng-bind="listaZonasAuditoria.tambos_no_disponibles.lotes_internos.tambores | number">
                                            </td>
                                            <td style="text-align:right"
                                                ng-bind="listaZonasAuditoria.tambos_no_disponibles.lotes_internos.neto | number">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Envasado</td>
                                            <td style="text-align:right"
                                                ng-bind="listaZonasAuditoria.tambos_no_disponibles.envasados.tambores | number">
                                            </td>
                                            <td style="text-align:right"
                                                ng-bind="listaZonasAuditoria.tambos_no_disponibles.envasados.neto| number">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Exportación</td>
                                            <td style="text-align:right"
                                                ng-bind="listaZonasAuditoria.tambos_no_disponibles.exportados.tambores | number">
                                            </td>
                                            <td style="text-align:right"
                                                ng-bind="listaZonasAuditoria.tambos_no_disponibles.exportados.neto | number">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:right;"><b>Totales</b></td>
                                            <td style="text-align:right; font-weight: 700"
                                                ng-bind="listaZonasAuditoria.tambos_no_disponibles.tamboresTotal | number">
                                            </td>
                                            <td style="text-align:right; font-weight: 700"
                                                ng-bind="listaZonasAuditoria.tambos_no_disponibles.netoTotal | number">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <div class="">
                                    <div class="input-group">
                                        <input type="text" ng-model="busquedaZonas"
                                            class="form-control input-sm pull-right" placeholder="Buscar">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-warning">
                                                <i class="zmdi zmdi-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-success"
                                    ng-click="abrirModalDescargarReporteAuditoria()">
                                    <i class="fa fa-download"></i> Reporte
                                </button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!listaZonasAuditoria.zonas">
                        <i class="fa fa-spinner fa-spin fa-fw"></i> Cargando...
                    </div>
                    <div class="table-responsive" ng-if="listaZonasAuditoria.zonas">
                        <table class="table table-responsive">
                            <thead>
                                <tr style="height: 35px">
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600"></th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">ZONA</th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">TIPO DE MIEL
                                    </th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">ESCANEADOS</th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">
                                        <b>NO</b> ESCANEADOS</th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">NETO ESCANEADO
                                    </th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">VER</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="zona in listaZonasAuditoria.zonas| filter:busquedaZonas"
                                    ng-class="{'egreso-red': zona.tambEscaneados == '0'}">
                                    <td ng-bind="$index + 1"></td>
                                    <td ng-bind="zona.zona"></td>
                                    <td ng-bind="zona.tipoDeMiel"></td>
                                    <td style="text-align:center" ng-bind="zona.tambEscaneados"></td>
                                    <td style="text-align:center" ng-bind="zona.tambores_faltantes"></td>
                                    <td style="text-align:center" ng-bind="zona.netoEscaneado | number"></td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs"
                                            ng-click="verDetalleZona(zona)">
                                            Detalle
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Detalle de una zona de la auditoría -->

<section class="" ng-if="!mostrarZonasAuditoria && mostrarDetalleZona">
    <div class="box box-solid box-warning">
        <div class="box-header" style="height: 50px;">
            <h5 class="encabezadosTabla">
                DETALLE DE ZONA EN AUDITORÍA
                <button title="Regresar" class="btn btn-success btn-xs pull-right" ng-click="regresarVistaZonas()">
                    <i class="zmdi zmdi-arrow-left"></i>
                </button>
            </h5>
        </div>
        <div class="box-body table-responsive">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <p class="lead">
                            <b>Zona: </b>{{detalleZona.zona | uppercase}}</p>
                        <p class="lead">
                            <b>Tipo de miel: </b>{{detalleZona.tipoDeMiel}}</p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="form-group">
                        <label for="tipoReporteAuditoria">Ver reporte</label>
                        <select name="tipoReporteAuditoria" class="form-control" ng-model="tipoDeReporteAuditoria"
                            ng-change="verReporteAuditoria(tipoDeReporteAuditoria)">
                            <option value="">Selecciona una opción</option>
                            <option value="1">Se mantuvo en su zona</option>
                            <option value="2">Migró a esta zona</option>
                            <option value="3">No escaneados</option>
                            <option value="4">Todo</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align:center" colspan="7">Resultados de tambores escaneados</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center" colspan=""></th>
                                    <th style="text-align:center" colspan="">Disponible</th>
                                    <th style="text-align:center" colspan="">Experimentales</th>
                                    <th style="text-align:center" colspan="">En lote interno</th>
                                    <th style="text-align:center" colspan="">Envasado</th>
                                    <th style="text-align:center" colspan="">Exportacion</th>
                                    <th style="text-align:center" colspan="">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Bruto</td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.disponibles.bruto | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.experimentales.bruto | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.lotes_internos.bruto | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.envasados.bruto | number"></td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.exportados.bruto | number">
                                    </td>
                                    <td style="text-align:right"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.bruto | number"></td>
                                </tr>
                                <tr>
                                    <td>Tara</td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.disponibles.tara | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.experimentales.tara | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.lotes_internos.tara | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.envasados.tara | number"></td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.exportados.tara | number"></td>
                                    <td style="text-align:right"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.tara | number"></td>
                                </tr>
                                <tr>
                                    <td>Neto</td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.disponibles.neto | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.experimentales.neto | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.lotes_internos.neto | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.envasados.neto | number"></td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.exportados.neto | number"></td>
                                    <td style="text-align:right"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.neto | number"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align:center" colspan="5">Resultados de tambores
                                        <b>NO</b> escaneados</th>
                                </tr>
                                <tr>
                                    <th style="text-align:center" colspan=""></th>
                                    <th style="text-align:center" colspan="">Disponible</th>
                                    <th style="text-align:center" colspan="">Experimentales</th>
                                    <th style="text-align:center" colspan="">En lote interno</th>
                                    <!-- <th style="text-align:center" colspan="">Envasados</th> -->
                                    <th style="text-align:center" colspan="">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Bruto</td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.disponibles.bruto | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.experimentales.bruto | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.lotes_internos.bruto | number">
                                    </td>
                                    <!-- <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.envasados.bruto | number">
                                    </td> -->
                                    <td style="text-align:right"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.bruto | number">
                                    </td>
                                    <!-- <td style="text-align:right"></td> -->
                                </tr>
                                <tr>
                                    <td>Tara</td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.disponibles.tara | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.experimentales.tara | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.lotes_internos.tara | number">
                                    </td>
                                    <!-- <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.envasados.tara | number">
                                    </td> -->
                                    <td style="text-align:right"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.tara | number"></td>
                                    <!-- <td style="text-align:right"></td> -->
                                </tr>
                                <tr>
                                    <td>Neto</td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.disponibles.neto | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.experimentales.neto | number">
                                    </td>
                                    <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.lotes_internos.neto | number">
                                    </td>
                                    <!-- <td style="text-align:center"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.envasados.neto | number">
                                    </td> -->
                                    <td style="text-align:right"
                                        ng-bind="detalleZona.resultadoTamboresNoEscaneados.neto | number"></td>
                                    <!-- <td style="text-align:right"></td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th colspan="3" style="text-align:center">Acotaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Se mantuvo en su zona</td>
                                    <td style="text-align:center">
                                        <i class="fa fa-circle auditoria-verde"></i>
                                    </td>
                                    <td style="text-align:center">{{ detalleZona.encabezado.se_mantuvo | number }}</td>

                                </tr>
                                <tr>
                                    <td>Migró a esta zona</td>
                                    <td style="text-align:center">
                                        <i class="fa fa-circle auditoria-naranja"></i>
                                    </td>
                                    <td style="text-align:center">{{ detalleZona.encabezado.cambio_zona | number }}</td>
                                </tr>
                                <tr>
                                    <td>No escaneados</td>
                                    <td style="text-align:center">
                                        <i class="fa fa-circle auditoria-rojo"></i>
                                    </td>
                                    <td style="text-align:center">{{ detalleZona.encabezado.no_escaneado | number }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th colspan="3" style="text-align:center">Totales</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tambores escaneados en la zona</td>
                                    <td style="text-align:right" ng-bind="detalleZona.encabezado.escaneados | number">
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td>Tambores escaneados exportados</td>
                                    <td style="text-align:right"
                                        ng-bind="detalleZona.resultadoTamboresEscaneados.exportados.tambores | number"></td>
                                </tr> -->
                                <!-- <tr class="remarcar_fila_auditoria">
                                    <td>Tambores con entrada
                                        <b>posterior</b> a la fecha programada
                                        <br>
                                        <small>Es posible que no se hayan escaneado</small>
                                    </td>
                                    <td style="text-align:right"
                                        ng-bind="detalleZona.encabezado.entrada_posterior | number"></td>
                                </tr> -->
                                <tr>
                                    <td>Tambores no escaneados (MP disponible)</td>
                                    <td style="text-align:right"
                                        ng-bind="detalleZona.encabezado.no_encontrado_disponible | number"></td>
                                </tr>
                                <tr>
                                    <td>Tambores no escaneados (MP no disponible)</td>
                                    <td style="text-align:right"
                                        ng-bind="detalleZona.encabezado.no_encontrado_noDisponible | number">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div ng-if="!foliosEscaneados || !foliosNoEscaneados">
                <i class="fa fa-spinner fa-spin fa-fw"></i> Cargando...
            </div> -->
            <!-- <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-6 pull-right">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" ng-model="busquedaDetalle" class="form-control input-sm pull-right"
                                placeholder="Buscar">
                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-warning">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- *FOLIOS ESCANEADOS*  -->
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="12" style="text-align: center; text-transform: none; font-weight: 600"> FOLIOS
                                ESCANEADOS</th>
                        </tr>
                        <tr style="height: 35px">
                            <th style="text-transform: none; font-weight: 600" rowspan="2"></th>
                            <th style="text-align: center; text-transform: none; font-weight: 600" rowspan="2">FOLIO
                                TAMBOR</th>
                            <th style="text-align: center; text-transform: none; font-weight: 600" rowspan="2">FECHA
                                ENTRADA</th>
                            <th colspan="2" style="text-align: center; text-transform: none; font-weight: 600">ZONA</th>
                            <th style="text-align: right; text-transform: none; font-weight: 600" rowspan="2">BRUTO</th>
                            <th style="text-align: right; text-transform: none; font-weight: 600" rowspan="2">TARA</th>
                            <th style="text-align: right; text-transform: none; font-weight: 600" rowspan="2">NETO</th>
                            <th colspan="2" style="text-align: center; text-transform: none; font-weight: 600">ESTADO
                            </th>
                            <th colspan="2" style="text-align: center; text-transform: none; font-weight: 600">ESCANEO
                            </th>
                        </tr>
                        <tr>
                            <th style="text-align: center; text-transform: none; font-weight: 600">ANTERIOR</th>
                            <th style="text-align: center; text-transform: none; font-weight: 600">NUEVA</th>
                            <th style="text-align: center; text-transform: none; font-weight: 600">TAMBOR</th>
                            <th style="text-align: center; text-transform: none; font-weight: 600">AUDITORIA</th>
                            <th style="text-align: center; text-transform: none; font-weight: 600">USUARIO</th>
                            <th style="text-align: center; text-transform: none; font-weight: 600">FECHA Y HORA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="detalle in foliosEscaneados| filter:busquedaDetalle"
                            ng-class="{'remarcar_fila_auditoria': detalle.fecha >= datosAuditoria.fecha}">
                            <td class="text-center">{{$index + 1}}</td>
                            <td class="text-center" ng-bind="detalle.folio"></td>
                            <td class="text-center">{{detalle.fecha | date:'dd/MM/yyyy'}}</td>
                            <td class="text-center" ng-bind="detalle.zonaAntes | uppercase"></td>
                            <td class="text-center" ng-bind="detalle.zonaDespues | uppercase"></td>
                            <td style="text-align: right">
                                <p ng-if="detalle.bruto != 0">{{ detalle.bruto | number }}</p>
                            </td>
                            <td style="text-align: right">
                                <p ng-if="detalle.tara != 0">{{ detalle.tara | number }}</p>
                            </td>
                            <td style="text-align: right">
                                <p ng-if="detalle.neto != 0">{{ detalle.neto | number }}</p>
                            </td>
                            <td class="text-center">{{detalle.estado_tambor|uppercase}} {{detalle.idLote|uppercase}}
                            </td>
                            <td style="text-align:center">
                                <i class="fa fa-circle"
                                    ng-class="{ 'auditoria-verde': detalle.zonaAntes == detalle.zonaDespues, 'auditoria-naranja': detalle.zonaAntes != detalle.zonaDespues && detalle.zonaDespues != '', 'auditoria-rojo': detalle.zonaDespues == '' }"></i>
                            </td>
                            <td class="text-center" ng-bind="detalle.usuario | uppercase"></td>
                            <td class="text-center">
                                {{detalle.hora | date: 'dd/MM/yyyy'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- -------------------- -->
            <!-- *FOLIOS NO ESCANEADOS DISPONIBLES*  -->
            <div class="table-responsive" ng-if="foliosNoEscaneados.length > 0">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="12" style="text-align: center; text-transform: none; font-weight: 600"> FOLIOS
                                NO ESCANEADOS DISPONIBLES</th>
                        </tr>
                        <tr style="height: 35px">
                            <th style="text-transform: none; font-weight: 600"></th>
                            <th style="text-align: center; text-transform: none; font-weight: 600">FOLIO</th>
                            <th style="text-align: center; text-transform: none; font-weight: 600">FECHA ENTRADA</th>
                            <th style="text-align: center; text-transform: none; font-weight: 600">ZONA</th>
                            <th style="text-align: right; text-transform: none; font-weight: 600">BRUTO</th>
                            <th style="text-align: right; text-transform: none; font-weight: 600">TARA</th>
                            <th style="text-align: right; text-transform: none; font-weight: 600">NETO</th>
                            <th style="text-align: center; text-transform: none; font-weight: 600">ESTADO DEL TAMBOR
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="detalle in foliosNoEscaneados| filter:busquedaDetalle"
                            ng-class="{'remarcar_fila_auditoria': detalle.fecha >= datosAuditoria.fecha}">
                            <td class="text-center">{{$index + 1}}</td>
                            <td class="text-center" ng-bind="detalle.folio"></td>
                            <td class="text-center">{{detalle.fecha | date:'dd/MM/yyyy'}}</td>
                            <td class="text-center" ng-bind="detalle.zona | uppercase"></td>
                            <td style="text-align: right">
                                <p ng-if="detalle.bruto != 0">{{ detalle.bruto | number }}</p>
                            </td>
                            <td style="text-align: right">
                                <p ng-if="detalle.tara != 0">{{ detalle.tara | number }}</p>
                            </td>
                            <td style="text-align: right">
                                <p ng-if="detalle.neto != 0">{{ detalle.neto | number }}</p>
                            </td>
                            <td class="text-center">{{detalle.estado_tambor | uppercase}} {{detalle.idLote|uppercase}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- -------------------- -->
            <!-- *FOLIOS MATERIA PRIMA NO DISPONIBLE*  -->
            <div class="table-responsive" ng-if="foliosMateriaPrimaNoDisponible.length > 0">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="12" style="text-align: center; text-transform: none; font-weight: 600"> FOLIOS
                                MATERIA PRIMA NO DISPONIBLE</th>
                        </tr>
                        <tr style="height: 35px">
                            <th style="text-transform: none; font-weight: 600"></th>
                            <th style="text-align: center; text-transform: none; font-weight: 600">FOLIO</th>
                            <th style="text-align: center; text-transform: none; font-weight: 600">FECHA ENTRADA</th>
                            <th style="text-align: center; text-transform: none; font-weight: 600">ZONA</th>
                            <th style="text-align: right; text-transform: none; font-weight: 600">BRUTO</th>
                            <th style="text-align: right; text-transform: none; font-weight: 600">TARA</th>
                            <th style="text-align: right; text-transform: none; font-weight: 600">NETO</th>
                            <th style="text-align: center; text-transform: none; font-weight: 600">ESTADO DEL TAMBOR
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="detalle in foliosMateriaPrimaNoDisponible| filter:busquedaDetalle"
                            ng-class="{'remarcar_fila_auditoria': detalle.fecha >= datosAuditoria.fecha}">
                            <td class="text-center">{{$index + 1}}</td>
                            <td class="text-center" ng-bind="detalle.folio"></td>
                            <td class="text-center">{{detalle.fecha | date:'dd/MM/yyyy'}}</td>
                            <td class="text-center" ng-bind="detalle.zona | uppercase"></td>
                            <td style="text-align: right">
                                <p ng-if="detalle.bruto != 0">{{ detalle.bruto | number }}</p>
                            </td>
                            <td style="text-align: right">
                                <p ng-if="detalle.tara != 0">{{ detalle.tara | number }}</p>
                            </td>
                            <td style="text-align: right">
                                <p ng-if="detalle.neto != 0">{{ detalle.neto | number }}</p>
                            </td>
                            <td class="text-center">{{detalle.estado_tambor | uppercase}} {{detalle.idLote|uppercase}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- -------------------- -->
        </div>
    </div>
</section>
<div class="modal fade" id="modalDescargarReporteAuditoria" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Seleccione un tipo de reporte</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" name="opcionDescargaReporteAuditoria"
                                    ng-model="opcionDescargaReporteAuditoria" value="1"> Acumulado
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" name="opcionDescargaReporteAuditoria"
                                    ng-model="opcionDescargaReporteAuditoria" value="2"> Por zonas
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" name="opcionDescargaReporteAuditoria"
                                    ng-model="opcionDescargaReporteAuditoria" value="3"> Tambores no escaneados
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success"
                    ng-click="descargarReporteAuditoria(opcionDescargaReporteAuditoria)">Descargar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>
<div growl>

</div>