<section class="content">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="box box-solid box-warning">
                <div class="box-header" style="height: 50px;">
                    <h5 class="encabezadosTabla">
                        ENTRADAS DE PRODUCTO APÍCOLA
                        <!-- <a href="#/nuevaEntradaApicola/0" class="btn btn-success btn-xs" style="float: right">
                            <i class="zmdi zmdi-plus"></i>Agregar
                        </a> -->
                    </h5>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <div class="form-group">
                                <select chosen class="form-control" ng-model="mostrarMes"
                                    ng-options="mes.idMes as mes.mes for mes in listaDeMeses"
                                    ng-disabled="cargandoDatos">
                                    <option value="">Todo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <select chosen class="form-control" ng-model="tipoReporte" ng-disabled="cargandoDatos">
                                    <option value="" selected disabled>Tipo de reporte</option>
                                    <option value="1">Reportes realizados</option>
                                    <option value="2">Reportes no realizados</option>
                                    <option value="0">Realizados y no realizados</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <div class="input-group">
                                <input type="text" ng-model="filtroBusquedaTambores"
                                    class="form-control input-sm pull-right" placeholder="Buscar">
                                <div class="input-group-btn">
                                    <button class="btn btn-sm btn-warning">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="table-responsive no-padding">
                            <table class="table table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Folio</th>
                                        <th>Fecha</th>
                                        <th>Proveedor</th>
                                        <th>Total</th>
                                        <th>Ver</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="entrada in listaEntradasApicola | filter:filtroBusquedaTambores">
                                        <td>AL-PAP-{{entrada.idAlmacen}}</td>
                                        <td ng-bind="entrada.fecha | date:'dd-MM-yyyy'"></td>
                                        <td ng-bind="entrada.proveedor"></td>
                                        <td ng-bind="entrada.total | currency"></td>
                                        <td>
                                            <a type="button" class="btn btn-warning btn-xs" title="Ver entrada"
                                                href="#/nuevaEntradaApicola/{{entrada.idAlmacen}}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a type="button" class="btn btn-danger btn-xs" title="Eliminar registro"
                                                ng-click="eliminarRegistro(entrada.idAlmacen)">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div growl></div>