<section class="content">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="box box-solid box-warning">
                <div class="box-header" style="height: 50px;">
                    <h5 class="encabezadosTabla">
                        OPERADOR DE VEHICULO
                        <a title="Regresar" href="#/operadores" class="btn btn-success btn-xs" style="float: right">
                            <i class="zmdi zmdi-arrow-left"></i>
                        </a>
                    </h5>
                    <div class="input-group" style="float: right">

                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5>
                                        <b>DATOS PERSONALES</b>
                                    </h5>
                                    <hr>
                                </div>
                                <div class="col-lg-6">
                                    <p>Nombre completo</p>
                                    <div class="form-group form-group-sm">
                                        <input type="text" class="form-control input-xs" ng-model="operador.operador" />
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <p>Compañía</p>
                                    <div class="form-group form-group-sm">
                                        <input type="text" class="form-control input-xs" ng-model="operador.compania" />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <p>Licencia</p>
                                    <div class="form-group form-group-sm">
                                        <input type="text" class="form-control input-xs" ng-model="operador.licencia" />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <p>Vigencia</p>
                                    <div class="form-group form-group-sm">
                                        <div class="input-group date" data-provide="datepicker">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input required type="text" class="form-control pull-right" id="datepicker"
                                                ng-model="operador.vigencia">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- <div class="row">
                                <div class="col-lg-12">
                                    <h5>
                                        <b> HIGIENE PERSONAL</b>
                                    </h5>
                                    <hr>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <p>Cabello corto</p>
                                        <div class="form-group form-group-sm">
                                            <label class="radio-inline">
                                                <input type="radio" ng-model="operador.cabello" value="1"> Sí
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" ng-model="operador.cabello" value="0"> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <p>Uñas cortas</p>
                                        <div class="form-group form-group-sm">
                                            <label class="radio-inline">
                                                <input type="radio" ng-model="operador.unas" value="1"> Sí
                                            </label>
                                            <label class="radio-inline"></label>
                                            <input type="radio" ng-model="operador.unas" value="0"> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <p>Ropa limpia</p>
                                        <div class="form-group form-group-sm">
                                            <label class="radio-inline">
                                                <input type="radio" ng-model="operador.ropa" value="1"> Sí
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" ng-model="operador.ropa" value="0"> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br> -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5>
                                        <b> DATOS DEL TRANSPORTE</b>
                                    </h5>
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group-sm">
                                            <div class="col-md-4">
                                                <button class="btn btnMiel btn-block" ng-click="nuevasPlacas();">
                                                    <b>Añadir vehículo <i style="color: #385428"
                                                            class="zmdi zmdi-plus"></i></b>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group-sm">
                                        <div ng-repeat="placa in arregloPlacas" class="row">
                                            <div class="col-lg-3">
                                                <p>Tipo</p>
                                                <div class="form-group form-group-sm">
                                                    <select chosen ng-model="placa.tipo" class="form-control input-xs">
                                                        <option value="" selected>Elija una opción</option>
                                                        <option value="Automovil">Automóvil</option>
                                                        <option value="Camioneta">Camioneta</option>
                                                        <option value="Camion">Camión</option>
                                                        <option value="Rabon">Rabón</option>
                                                        <option value="Torton">Torton</option>
                                                        <option value="Trailer">Tráiler</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <p>Marca</p>
                                                    <input type="text" class="form-control input-xs"
                                                        ng-model="placa.marca" />
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <p>Modelo</p>
                                                    <div class="form-group form-group-sm">
                                                        <input type="text" class="form-control input-xs"
                                                            ng-model="placa.modelo" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <p>Placas</p>
                                                    <div class="form-group form-group-sm">
                                                        <input type="text" class="form-control input-xs"
                                                            ng-model="placa.placa" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <p>Remolque</p>
                                                    <div class="form-group form-group-sm">
                                                        <select ng-model="placa.remolque"
                                                            class="form-group form-control">
                                                            <option value="" selected>Opciones</option>
                                                            <option value="1">Caja seca</option>
                                                            <option value="2">Jaula</option>
                                                            <!-- <option value="3">No aplica</option> -->
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <p>Marca remolque</p>
                                                    <input type="text" class="form-control input-xs"
                                                        ng-model="placa.marcaRemolque" />
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <p>Modelo remolque</p>
                                                    <div class="form-group form-group-sm">
                                                        <input type="text" class="form-control input-xs"
                                                            ng-model="placa.modeloRemolque" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <p>Placas Remolque</p>
                                                    <div class="form-group form-group-sm">
                                                        <input type="text" class="form-control input-xs"
                                                            ng-model="placa.placaRemolque" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-show="placa.idPlaca == 0" class="col-lg-1">
                                                <div class="form-group">
                                                    <p>&nbsp;</p>
                                                    <a ng-click="eliminarPlaca($index);" class="btn btn-danger btn-xs"
                                                        title="Eliminar Placa">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <p>Remolque</p>
                                        <div class="form-group form-group-sm">
                                            <label class="radio-inline">
                                                <input type="radio" ng-model="operador.remolque" value="1"> Sí
                                            </label>
                                            <label class="radio-inline"></label>
                                            <input type="radio" ng-model="operador.remolque" value="0"> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="row" ng-if="remolqueActivo">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <p>Marca</p>
                                        <input type="text" class="form-control input-xs" ng-model="operador.marca" />
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <p>Modelo</p>
                                        <div class="form-group form-group-sm">
                                            <input type="text" class="form-control input-xs"
                                                ng-model="operador.modelo" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <p>Placas</p>
                                        <div class="form-group form-group-sm">
                                            <input type="text" class="form-control input-xs"
                                                ng-model="operador.placas" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <p>Indique una opción</p>
                                        <div class="form-group form-group-sm">
                                            <select ng-model="operador.caja" class="form-group form-control">
                                                <option value="" selected>Opciones</option>
                                                <option value="1">Caja seca</option>
                                                <option value="2">Jaula</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <br>
                        </div>
                    </div>
                    <br>
                    <div style="text-align: right">
                        <button class="btn btn-warning" ng-click="guardarChofer()">Guardar</button>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group-sm">
                                        <label style="font-weight: bold;" class="col-sm-2 control-label">Operador
                                        </label>
                                        <div class="col-sm-10">
                                            <input align="center" type="text" class="form-control input-xs"
                                                placeholder="Nombre del chofer" ng-model="operador.operador"
                                                onkeyup="javascript:this.value = this.value.toUpperCase();" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group-sm">
                                        <label style="font-weight: bold;" class="col-sm-2 control-label">Compañía
                                        </label>
                                        <div class="col-sm-10">
                                            <input align="center" type="text" class="form-control input-xs"
                                                placeholder="Nombre de la Compañía" ng-model="operador.compania"
                                                onkeyup="javascript:this.value = this.value.toUpperCase();" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group-sm">
                                        <label style="font-weight: bold;" class="col-sm-2 control-label">Licencia
                                        </label>
                                        <div class="col-sm-10">
                                            <input align="center" type="text" class="form-control input-xs"
                                                placeholder="Licencia" ng-model="operador.licencia" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group-sm">
                                        <label style="font-weight: bold;" class="col-sm-2 control-label">Remolque
                                        </label>
                                        <div class="col-sm-10">
                                            <input align="center" type="text" class="form-control input-xs"
                                                placeholder="Remolque / Caja" ng-model="operador.remolque"
                                                onkeyup="javascript:this.value = this.value.toUpperCase();" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group-sm">
                                        <label style="font-weight: bold;" class="col-sm-2 control-label">Vigencia
                                        </label>
                                        <div class="col-sm-10">
                                            <input 
                                            
                                            ="date" date="dd/MM/yyyy" title="Vigencia"
                                                ng-model="operador.vigencia" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group-sm">
                                        <label style="font-weight: bold;" class="col-sm-2 control-label">Placas </label>
                                        <div class="col-lg-2">
                                            <button class="btn btnMiel" ng-click="nuevasPlacas();">
                                                <i style="color: #385428" class="zmdi zmdi-plus"></i> Agregar Placas
                                            </button>
                                        </div>
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div ng-repeat="placa in arregloPlacas" class="input-group">
                                                <div>
                                                    <input type="text" class="form-control"
                                                        placeholder="Escriba la Placa" ng-model="placa.placa">
                                                </div>
                                                <span ng-if="proveAlmacen > 0" class="input-group-addon">
                                                    <a ng-click="eliminarPlaca($index);" class="btn btn-danger btn-xs"
                                                        title="Eliminar Placa">
                                                        <i class="zmdi zmdi-delete  pull-right"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div style="text-align: right">
                                <button class="btn btn-warning" ng-click="guardarChofer()">Guardar</button>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div growl>

</div>