<section class="content">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="box-tools col s4 visible-lg visible-md hidden-sm hidden-xs" style="float: right">
                <div class="input-group" style="width: 300px;">
                    <input type="text" ng-model="filtroTrazabilidadSalida" class="form-control input-sm pull-right" placeholder="Ingrese lo que desea buscar">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-warning"><i class="zmdi zmdi-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="box-tools col-sm-4 col-xs-4 visible-xs visible-sm hidden-md hidden-lg">
                <div class="input-group" style="width: 150px;">
                    <input type="text" ng-model="filtroTrazabilidadSalida" name="table_search" class="form-control input-sm pull-right" placeholder="Buscar">
                    <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="zmdi zmdi-search"></i></button>
                    </div>
                </div>
            </div>
            <br><br><br>
            <div class="box box-solid box-warning">
                <div class="box-header" style="height: 50px;">
                    <h5 class="encabezadosTabla">
                        TRAZABILIDAD SALIDA
                        <a ng-click="agregarTrazabilidadSalida()" class="btn btn-success btn-xs" style="float: right">
                            <i class="zmdi zmdi-plus"></i> Agregar
                        </a>
                    </h5>
                </div>
                <div class="box-body">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">

                                <label class="radio radio-inline m-r-20">
                                    <input type="radio" value="1" ng-model="opcionMiel">Convencional
                                    <i class="input-helper"></i>
                                </label>

                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">

                                <label class="radio radio-inline m-r-20">
                                    <input type="radio" value="2" ng-model="opcionMiel">Orgánica
                                    <i class="input-helper"></i>
                                </label>

                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">

                                <label class="radio radio-inline m-r-20">
                                    <input type="radio" value="5" ng-model="opcionMiel">Mantequilla
                                    <i class="input-helper"></i>
                                </label>

                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">

                                <label class="radio radio-inline m-r-20">
                                    <input type="radio" value="6" ng-model="opcionMiel">Altiplano
                                    <i class="input-helper"></i>
                                </label>

                            </div>
                        </div>
                    
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">

                                <label class="radio radio-inline m-r-20">
                                    <input type="radio" value="7" ng-model="opcionMiel">Naranjo
                                    <i class="input-helper"></i>
                                </label>

                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">

                                <label class="radio radio-inline m-r-20">
                                    <input type="radio" value="8" ng-model="opcionMiel">Aguacate
                                    <i class="input-helper"></i>
                                </label>

                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">

                                <label class="radio radio-inline m-r-20">
                                    <input type="radio" value="9" ng-model="opcionMiel">Mezquite
                                    <i class="input-helper"></i>
                                </label>

                            </div>
                        </div>
                  
                    </div>

                    <div class="table-responsive no-padding">

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="text-transform: none; font-weight: 600">N° de Lote</th>
                                    <th style="text-align: right; text-transform: none; font-weight: 600">Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="infoSalida in menuTrazabilidadSalida|filter:filtroTrazabilidadSalida">
                                    <td>
                                        {{infoSalida.marcaFinalCliente}}
                                    </td>
                                    <td style="text-align: right">
                                        <a class="btn btn-warning btn-xs" ng-href="#/nvaTrazaSalida/{{infoSalida.idLoteInterno}}/{{opcionMiel}}" title="Ver más"
                                            ng-disabled="!opcionMiel">
                                            <i class="zmdi zmdi-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div growl></div>