<section class="content">
    <div class="row">
        <div class="box-tools col s4 visible-lg visible-md hidden-sm hidden-xs" style="float: right">
            <div class="input-group" style="width: 300px;">
                <input type="text" 
                       ng-model="filtroBusquedaFolio" 
                       class="form-control input-sm pull-right" placeholder="Ingrese lo que desea buscar">
                <div class="input-group-btn">
                    <button class="btn btn-sm btn-warning"><i class="zmdi zmdi-search"></i></button>
                </div>
            </div>
        </div>
        <div class="box-tools col-sm-4 col-xs-4 visible-xs visible-sm hidden-md hidden-lg">
            <div class="input-group" style="width: 150px;">
                <input type="text" 
                       ng-model="filtroBusquedaFolio" name="table_search" class="form-control input-sm pull-right" placeholder="Buscar">
                <div class="input-group-btn">
                    <button class="btn btn-sm btn-default"><i class="zmdi zmdi-search"></i></button>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="box box-solid box-warning">
                <div class="box-header" style="height: 50px;">
                    <h5 class="encabezadosTabla">
                        <a title="Regresar" href="#/inventarioTambores" class="btn btn-success btn-xs" style="float: right">
                            <i class="zmdi zmdi-arrow-left"></i> 
                        </a>
                    </h5>
                </div>
                <div class="box-body ">
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-9">
                            <a style="margin-right: 10px"
                               title="Ver PDF"
                               class="pull-right btn-xs btn btn-danger"
                               ng-click="pdfInventario()"
                               >
                                <i class="zmdi zmdi-font zmdi-hc-lg"></i>
                            </a>
                            <a style="margin-right: 10px"
                               title="Imprimir XLS"
                               class="pull-right btn-xs btn btn-success"
                               ng-click="xlsInventario()">
                                <i class="zmdi zmdi-storage zmdi-hc-lg"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-header" style="text-align: center">
                        <h3 style="text-align: center">FOLIOS DE LA ZONA <b>{{parametroZona}}</b></h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <b>Total de tambos: </b> {{total}}
                                <br>
                                <b>Total de kilos: </b> {{netoTotal}}
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive no-padding">
                        <table class="table table-striped table-responsive">
                            <thead>
                                <tr style="height: 35px">
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">N°</th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">Folio</th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">Proveedor</th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">Localidad</th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">Bruto</th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">Tara</th>
                                    <th class="bgm-blue" style="text-transform: none; font-weight: 600">Neto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="f in foliosPorZona| filter:filtroBusquedaFolio">
                                    <td>{{$index + 1}}</td>
                                    <td style="color:red">{{f.idAlmacen}}</td>
                                    <td>{{f.nombre}}</td>
                                    <td>{{f.localidad}}</td>
                                    <td>{{f.bruto}}</td>
                                    <td>{{f.tara}}</td>
                                    <td>{{f.neto}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
