<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-solid box-warning">
                <div class="box-header" style="height: 50px;">
                    <h5 class="encabezadosTabla">
                        LOTE EXPERIMENTAL
                        <a title="Regresar" href="#/ediCalidad/{{loteExperimental.idLoteExperimental}}/{{paramCosecha}}"
                            class="btn btn-success btn-xs" style="float: right">
                            <i class="zmdi red zmdi-undo"></i>
                        </a>
                    </h5>

                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="form-group">
                                <select chosen class="form-control" ng-model="opcionExperimental.opcion">
                                    <option value="" disabled>Selecciona una opción</option>
                                    <option value="1">Filtro</option>
                                    <option value="2">Captura</option>
                                    <option value="3">Sobrantes</option>
                                    <option value="4">Traspaso</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8" ng-show="opcionExperimental.opcion == 4">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    <label style="margin-top: 5px" class="radio radio-inline m-r-20">
                                        <input type="radio" value="1" ng-model="mielSeleccionada">100% pura de abeja
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                                <div class="col-lg-3">
                                    <label style="margin-top: 5px" class="radio radio-inline m-r-20">
                                        <input type="radio" value="2" ng-model="mielSeleccionada">100% orgánica
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" ng-model="opcionExperimental.folioCalidad"
                                        placeholder="N° de Folio (Presione Enter)"
                                        ng-keyup="buscar(opcionExperimental.folioCalidad, mielSeleccionada, 0, 1)"
                                        class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8" ng-show="opcionExperimental.opcion == 3">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    <label style="margin-top: 5px" class="radio radio-inline m-r-20">
                                        <input type="radio" value="1" ng-model="mielSeleccionada">100% pura de abeja
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                                <div class="col-lg-3">
                                    <label style="margin-top: 5px" class="radio radio-inline m-r-20">
                                        <input type="radio" value="2" disabled ng-model="mielSeleccionada">100% orgánica
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                                <div class="col-lg-3">
                                    <select ng-model="sobrante" class="form-control"
                                        ng-options="sobrante.idSobrante as sobrante.nombre for sobrante in listaSobrantes">
                                        <option disabled="disabled" value="">Seleccione un tipo de sobrante</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" ng-model="opcionExperimental.folioCalidad"
                                        placeholder="N° de Folio (Presione Enter)"
                                        ng-keyup="buscar(opcionExperimental.folioCalidad, mielSeleccionada, sobrante)"
                                        class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8" ng-show="opcionExperimental.opcion == 2">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    <label style="margin-top: 5px" class="radio radio-inline m-r-20">
                                        <input type="radio" value="1" ng-model="mielSeleccionada">100% pura de abeja
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                                <div class="col-lg-3">
                                    <label style="margin-top: 5px" class="radio radio-inline m-r-20">
                                        <input type="radio" value="2" ng-model="mielSeleccionada">100% orgánica
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" ng-model="opcionExperimental.folioCalidad"
                                        placeholder="N° de Folio (Presione Enter)"
                                        ng-keyup="buscar(opcionExperimental.folioCalidad, mielSeleccionada, 0)"
                                        class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-1" ng-show="opcionExperimental.opcion == 1">
                            <div class="form-group">
                                <button type="button" ng-click="filtrar();"
                                    class="btn btn-success btn-sm">Aceptar</button>
                            </div>
                        </div>
                        <!-- <div class="col-xs-12 col-md-6" ng-if="opcionExperimental.opcion == 2">
                            <div class="form-group">
                                <div class="col-lg-3">
                                    <label style="margin-top: 5px" class="radio radio-inline m-r-20">
                                        <input type="radio" value="1" ng-model="mielSeleccionada">100% pura de abeja
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                                <div class="col-lg-3">
                                    <label style="margin-top: 5px" class="radio radio-inline m-r-20">
                                        <input type="radio" value="2" ng-model="mielSeleccionada">100% orgánica
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" ng-model="opcionExperimental.folioCalidad" placeholder="Escriba el N° de Folio" ng-keyup="buscar(opcionExperimental.folioCalidad, mielSeleccionada)"
                                        class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-2" ng-if="opcionExperimental.opcion == 1">
                            <div class="form-group">
                                <button type="button" ng-click="filtrar();" class="btn btn-success btn-sm">Aceptar</button>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="row">
                        <div class="col-lg-3">
                            <input type="text" 
                                   ng-model="folioCalidad"
                                   placeholder="Folio"
                                   ng-keyup="buscar()"
                                   class="form-control"/>
                        </div>

                        <div class="col-lg-3">
                            <a title="Filtrar" ng-click="filtrar()" class="btn btn-success btn-sm">
                                <i class="fa fa-filter" aria-hidden="true"></i>Filtrar
                            </a>
                        </div>
                    </div> -->
                    <br>
                    <div class="table-responsive no-padding">
                        <table class="table table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th style="text-transform: none">Fecha</th>
                                    <th style="text-transform: none">Folio</th>
                                    <th style="text-transform: none">Referencia</th>
                                    <th style="text-transform: none; width: 35%">Proveedor</th>
                                    <th style="text-transform: none">IDSagarpa</th>
                                    <th style="text-transform: none">Localidad</th>
                                    <th style="text-transform: none">Bruto</th>
                                    <th style="text-transform: none">Tara</th>
                                    <th style="text-transform: none">Neto</th>
                                    <th>%H</th>
                                    <th>Sf</th>
                                    <th>St</th>
                                    <th>C13</th>
                                    <th>Hmf</th>
                                    <th>Floración</th>
                                    <th style="text-transform: none">Resultado Final</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    ng-repeat="calidad in filtered = (informacionMiel|filter:filterExpr) track by $index">
                                    <td style="width: 20%; font-size: 12px;">
                                        {{calidad.fecha}}
                                    </td>
                                    <td>
                                        <label style="color: red; font-size: 12px;">
                                            {{calidad.idAlmacen}}
                                        </label>
                                    </td>
                                    <td>
                                        <label style="color: black; font-size: 12px;">
                                            {{calidad.referencia}}
                                        </label>
                                    </td>
                                    <td style="width: 20%; font-size: 12px;">
                                        {{calidad.proveedor}}
                                    </td>
                                    <td style="width: 20%; font-size: 12px;">
                                        {{calidad.idSagarpa}}
                                    </td>
                                    <td style="width: 15%; font-size: 12px;">
                                        {{calidad.localidad}}
                                    </td>
                                    <td style="width: 20%; font-size: 12px;">
                                        {{calidad.bruto}}
                                    </td>
                                    <td style="width: 20%; font-size: 12px;">
                                        {{calidad.tara}}
                                    </td>
                                    <td style="width: 20%; font-size: 12px;">
                                        {{calidad.neto}}
                                    </td>
                                    <td style="width: 20%; font-size: 12px;">
                                        {{calidad.porcentaje}}
                                    </td>
                                    <td style="width: 20%; font-size: 12px;">
                                        {{calidad.sf}}
                                    </td>
                                    <td style="width: 20%; font-size: 12px;">
                                        {{calidad.st}}
                                    </td>
                                    <td style="width: 25%; font-size: 12px;">
                                        {{calidad.adulteracionDescripcion}}
                                    </td>
                                    <td style="width: 20%; font-size: 12px;">
                                        {{calidad.hmf}}
                                    </td>
                                    <td style="width: 20%; font-size: 12px;">
                                        {{calidad.floracion}}
                                    </td>
                                    <td style="width: 20%; font-size: 12px;">
                                        {{calidad.resultado}}
                                    </td>
                                    <td>
                                        <a title="Eliminar registro" ng-click="eliminarMasMiel($index)">
                                            <i style="font-size: 20px; margin-left: 15px; margin-top: 13px; color: red"
                                                class="zmdi zmdi-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <div class="fg-line">
                                            <p class="text-right control-label text-primary" style="margin-right: 8%">
                                                <b>
                                                    <strong>Total de Tambores</strong> =
                                                    <span style="color:red;">{{lotExperimental.numeroDeTambores =
                                                        filtered.length}}</span>
                                                </b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <div class="fg-line">
                                            <p class="text-right control-label text-primary" style="margin-right: 8%; ">
                                                <b>
                                                    <strong>Total de Kilos</strong> =
                                                    <span style="color:red;">{{lotExperimental.kilosTotales}}</span>
                                                </b>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success pull-right" ng-disabled="guardar"
                        ng-click="guardarMasMiel()">Guardar</button>
                    <button class="btn btn-danger pull-right" style="margin-right: 20px"
                        ng-click="cancelarCalidad()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<div class="modal fade" id="idModalBusquedaCalidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">¿Que te gustaria buscar?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Resultado Final</label>
                            <select class="form-control" chosen multiple allow-single-deselect="true"
                                data-placeholder="Resultados disponibles" no-results-text="'Tough luck'"
                                ng-options="resultados.idresultadoFinal as resultados.resultado for resultados in listaResultadosFinales"
                                ng-model="resultadosSeleccionados">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>%H</label>
                            <select ng-change="elegirRangoPorcentaje();" class="form-control" chosen multiple
                                allow-single-deselect="true" data-placeholder="Proveedores disponibles"
                                no-results-text="'Tough luck'"
                                ng-options="porcentaje.porcentaje as porcentaje.porcentaje for porcentaje in listaPorcentajeDisponible"
                                ng-model="porcentajeSeleccionados" ng-disabled="controlPorcentaje">
                                <option value=""></option>
                            </select>
                        </div>
                        <div ng-show="controlPorcentaje == true" class="form-group">
                            <label>Rango 1</label>
                            <input ng-model="porcentajeRango1" type="text" class="form-control" />
                            <label>Rango 2</label>
                            <input ng-model="porcentajeRango2" type="text" class="form-control" />
                            <br>
                            <button ng-click="cancelarRangoPorcentaje()" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>St:</label>
                            <select class="form-control" chosen multiple allow-single-deselect="true"
                                data-placeholder="Proveedores disponibles" no-results-text="'Tough luck'"
                                ng-options="st.st as st.st for st in listaStDisponible" ng-model="stSeleccionados">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Sf:</label>
                            <select class="form-control" chosen multiple allow-single-deselect="true"
                                data-placeholder="Proveedores disponibles" no-results-text="'Tough luck'"
                                ng-options="sf.sf as sf.sf for sf in listaSfDisponible" ng-model="sfSeleccionados">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>C13:</label>
                            <select class="form-control" chosen multiple allow-single-deselect="true"
                                data-placeholder="Proveedores disponibles" no-results-text="'Tough luck'"
                                ng-options="c13.adulteracionDescripcion as c13.adulteracionDescripcion for c13 in listaC13Disponibles"
                                ng-model="c13Seleccionados">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Hmf:</label>
                            <select ng-change="elegirRangoHmf()" class="form-control" chosen multiple
                                allow-single-deselect="true" data-placeholder="Proveedores disponibles"
                                no-results-text="'Tough luck'" display-disabled-options="true"
                                ng-options="hmf.hmf as hmf.hmf for hmf in listaHmfDisponible"
                                ng-model="hmfSeleccionados" ng-disabled="control">
                                <option value=""></option>
                            </select>
                        </div>
                        <div ng-show="control == true" class="form-group">
                            <label>Rango 1</label>
                            <input ng-model="hmfRango1" type="text" class="form-control" />
                            <label>Rango 2</label>
                            <input ng-model="hmfRango2" type="text" class="form-control" />
                            <br>
                            <button ng-click="cancelarRangoHmf()" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Floración</label>
                            <select class="form-control" chosen multiple allow-single-deselect="true"
                                data-placeholder="Floración" no-results-text="'Tough luck'"
                                ng-options="floraciones.idFloracion as floraciones.floracion for floraciones in listaFloracionDisponibles"
                                ng-model="floracionesSeleccionadas">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label>Localidad</label>
                            <select class="form-control" chosen multiple allow-single-deselect="true"
                                data-placeholder="Localidad" no-results-text="'Tough luck'"
                                ng-options="localidades.idlocalidad as localidades.localidad for localidades in listaLocalidadDisponibles"
                                ng-model="localidadesSeleccionadas">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Salir</button>
                <button type="button" ng-click="buscarCalidadPorParametros()" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div growl>

</div>