<section class="content">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">

            <div class="box box-solid box-warning">
                <div class="box-header" style="height: 50px;">
                    <h5 class="encabezadosTabla">
                        AUXILIAR BANCOS
                        <a ng-if="mesesBancos.length == 0" href="#/nvoAuxBanco/0" class="btn btn-success btn-xs" style="float: right">
                            <i class="zmdi zmdi-plus"></i> Agregar
                        </a>
                    </h5>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th style="text-transform: none; font-weight: 600">Mes </th>
                                <th class="derecha" style="text-transform: none; font-weight: 600">Ingresos</th>
                                <th class="derecha" style="text-transform: none; font-weight: 600">Egresos</th>
                                <th class="derecha" style="text-transform: none; font-weight: 600">Saldo</th>
                                <th style="text-align: right; text-transform: none; font-weight: 600">Ver</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="mes in mesesBancos">
                                <td ng-bind="mes.mes"></td>
                                <td class="derecha">{{mes.ingresosMes|currency:'$':2}}</td>
                                <td class="derecha">{{mes.egresosMes|currency:'$':2}}</td>
                                <td class="derecha">{{mes.totalMes|currency:'$':2}}</td>
                                <td style="text-align: right">
                                    <a class="btn btn-warning btn-xs" ng-href="#/auxBancos/{{mes.idMes}}" title="Ver más">
                                        <i class="zmdi zmdi-plus" ></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<div growl>

</div>