<div class="row">
    <div class="col-xs-12 col-md-9 col-md-offset-1">
        <div class="box box-solid box-warning">
            <div class="box-header">
                <h5>
                    CLIENTE
                    <a title="Regresar a la lista de clientes" href="#/catalogoClientes" class="btn btn-success btn-xs"
                        style="float: right">
                        <i class="zmdi zmdi-arrow-left"></i>
                    </a>
                </h5>
            </div>
            <div class="box-body">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre del cliente"
                                ng-model="cliente.nombre" ng-disabled="cargandoDatos">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="domicilio">Dirección/Domicilio</label>
                            <input type="text" class="form-control" name="domicilio" id="domicilio" placeholder="Domicilio del cliente"
                                ng-model="cliente.domicilio" ng-disabled="cargandoDatos">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="telefono">Teléfono</label>
                            <input type="text" class="form-control" name="telefono" id="telefono" placeholder="Telefono del cliente"
                                ng-model="cliente.telefono" ng-disabled="cargandoDatos">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group" ng-if="idCliente">
                            <label>Fecha de registro</label>
                            <p class="lead">{{cliente.fechaRegistro | date:'dd/MM/yyyy'}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Estado del cliente</label> <br>
                            <label class="radio-inline"><input type="radio" name="estadoCliente" value="1" ng-model="cliente.estado"
                                    ng-disabled="cargandoDatos">Activo</label>
                            <label class="radio-inline"><input type="radio" name="estadoCliente" value="0" ng-model="cliente.estado"
                                    ng-disabled="cargandoDatos">De
                                baja</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="checkbox-inline">
                                <input type="checkbox" ng-model="cliente.flujoEfectivo" ng-true-value="1"
                                    ng-false-value="0" ng-disabled="cargandoDatos">
                                Mostrar en el reporte de Flujo de Efectivo
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-success btn-sm pull-right" ng-click="guardarInformacionCliente()" ng-disabled="cargandoDatos || guardandoDatos">
                            <span ng-if="idCliente">Guardar cambios</span>
                            <span ng-if="!idCliente">Guardar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div growl></div>